
{% include "_header.html.twig" %}
{% include "_nav.html.twig" %}

<h1>
    About us
</h1>

<p>
    We are SmithIT.com.
</p>
<p>
    We are based in Dublin.
</p>
<p>
    We were established in 2007.
</p>
<p>
    We sell computers and computer services - and host this great DVD voting site!.
</p>

{% include "_footer.html.twig" %}
