{% include "_header.html.twig" %}
{% include "_nav.html.twig" %}

<h1>
Welcome to SmithIT Home Page
</h1>

<p>
This site offers you the chance to VOTE on your favourite DVD films ...
</p>

{% include "_footer.html.twig" %}
