{% extends '_base.html.twig' %}

{# ----------------------------------------#}
{% block title %}
    error page
{% endblock %}

{# ----------------------------------------#}
{% block main %}
    <h1>Error</h1>
    <p>
        404 - sorry the requested resource could not be found
    </p>

{% endblock %}