{% extends '_base.html.twig' %}

{# ------------------------------------------------- #}
{% block pageTitle %}Home page{% endblock %}

{# ------------------------------------------------- #}
{% block indexLinkStyle %}current_page{% endblock %}

{# ------------------------------------------------- #}
{% block main %}

<h1>
Welcome to SmithIT Home Page
</h1>

<p>
This site offers you the chance to VOTE on your favourite DVD films ...
</p>

{% endblock %}
